*{
    box-sizing: border-box;
}
.contact {
    padding: 3rem 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text-wrapper{
    width: 600px;
    height: 360px;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
    background-color:rgb(218, 62, 93);
    padding: 40px 50px;
}
.text-heading{
    font-size: 40px;
    margin: 20px;
    font-weight:bolder;
}
.text-para{
    font-size: 18px;
    padding: 10px;
}
.contact-wrapper {
    width: 700px;
    margin: 0 auto;
}
.contact-wrapper h1 {
    font-size: 28px;
}
.form-wrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper form {
    width: 400px;
    padding: 3rem 2rem;
}
.form-item {
    width: 100%;
    margin-bottom: 18px;
}
.form-item label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    color: #6c757d;
}
.form-input,
.form-textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 20px;
    border: 1px solid #6c757d;
    outline: none;
    font-size: 18px;
    font-family: inherit;
    border-radius: 4px;
    outline-color: #17a2b8;
    flex: 1;
}
.form-input::placeholder,
.form-textarea::placeholder {
    font-family: inherit;
}

.form-btn {
    background-color: #17a2b8;
    padding: 14px 20px;
    width: 100%;
    border-radius: 4px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: inherit;
}